<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".UnihubApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@null"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Unihubworkshop">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.presentation.view.LoginView"
            android:exported="false"/>

        <activity
            android:name=".features.workshop.presentation.view.WorkshopView"
            android:exported="false"/>
        <activity
            android:name=".features.workshop.presentation.view.WorkshopDetailView"
            android:exported="false"/>
        <activity
            android:name=".features.workshop.presentation.view.StudentWorkshopDetailView"
            android:exported="false"/>
        <activity
            android:name=".features.workshop.presentation.view.StaffPortalView"
            android:exported="false"/>
        <activity
            android:name=".features.workshop.presentation.view.QRScannerView"
            android:exported="false"/>
        <activity
            android:name=".features.workshop.presentation.view.StudentTicketView"
            android:exported="false"/>
        <activity
            android:name=".features.workshop.presentation.view.RegisteredStudentsView"
            android:exported="false"/>
    </application>

</manifest>
